@use '@angular/material' as mat;

@font-face {
  font-family: 'GeneralSans-Variable';
  src: url('/fonts/GeneralSans-Variable.woff2') format('woff2'),
    url('/fonts/GeneralSans-Variable.ttf') format('truetype');
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

html,
body {
  height: 100%;
  color-scheme: light;
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: 'GeneralSans-Variable',
      density: 0,
    )
  );
}
body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card-preview-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  margin: 0 16px;
}

.form-container {
  width: 100vw;
}

.chip-list {
  width: 50%;
  margin: 0 25%;
}

:root {
  @include mat.icon-button-overrides(
    (
      icon-color: white,
      ripple-color: #a1d2ce,
    )
  );
}
